@import "../../main.scss";

.accomodation__main {
    @include accomodation-main-d;

    &__title {
        @include accomodation-main-title-d;

        @media screen and (max-width: $breakpoint) {
            @include accomodation-main-title-m;
        }

        & h1 {
            font-size: 36px;
            line-height: 51.34px;

            @media screen and (max-width: $breakpoint) {
                font-size: 18px;
                line-height: 25.67px;
                margin-bottom: 5px;
            }
        }

        & p {
            font-size: 18px;
            line-height: 25.67px;

            @media screen and (max-width: $breakpoint) {
                font-size: 14px;
                line-height: 19.96px;
            }
        }
    }

    &__hostAndRating {
        @media screen and (max-width: $breakpoint) {
            @include accomodation-main-hostAndRating-m;
        }
    }

    &__host {
        @include accomodation-main-host-d;

        @media screen and (max-width: $breakpoint) {
            position: unset;
        }

        & p {
            color: $color-secondary;
            font-weight: 500;
            font-size: 18px;
            line-height: 25.67px;
            text-align: end;

            @media screen and (max-width: $breakpoint) {
                font-size: 12px;
                line-height: 17.11px;
            }
        }

        &__img {
            width: 64px;
            height: 64px;
            border-radius: 50%;

            @media screen and (max-width: $breakpoint) {
                width: 32px;
                height: 32px;
            }
        }
    }

    &__rating {
        @include accomodation-main-rating-d;

        @media screen and (max-width: $breakpoint) {
            position: unset;
            gap: 6px;
        }

        & img {
            width: 24.75px;
            height: 24px;

            @media screen and (max-width: $breakpoint) {
                width: 13.41px;
                height: 13px;
            }
        }
    }

    &__tags {
        @include accomodation-main-tags-d;

        @media screen and (max-width: $breakpoint) {
            margin-bottom: 0px;
            order: 2;
        }

        & span {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-primary;
            font-weight: 500;
            font-size: 14px;
            line-height: 19.96px;
            height: 25px;
            min-width: 95px;
            padding: 0px 10px;
            border-radius: 10px;
            background-color: $color-secondary;

            @media screen and (max-width: $breakpoint) {
                font-size: 10px;
                line-height: 14.26px;
                height: 18px;
                min-width: 74px;
                padding: 0px 5px;
            }
        }
    }

    &__collapse {
        @include accomodation-main-collapse-d;

        @media screen and (max-width: $breakpoint) {
            margin-bottom: 27px;
            flex-direction: column;
            gap: 20px;
        }

        &__details {
            width: 100%;
        }
    }
}