@import "../../main.scss";

.collapse {
    @include collapse-d;

    @media screen and (max-width: $breakpoint) {
        @include collapse-m;
    }

    &__dropdown {
        @include collapse-dropdown-d;

        @media screen and (max-width: $breakpoint) {
            @include collapse-dropdown-m;
        }

        &--open {
            margin-bottom: 150px;
        }

        &__title {
            @include collapse-dropdown-title-d;

            @media screen and (max-width: $breakpoint) {
                @include collapse-dropdown-title-m;
            }
        }

        &__arrow {
            @include collapse-dropdown-arrow-d;
            transition: all 0.3s ease-in-out;

            @media screen and (max-width: $breakpoint) {
                @include collapse-dropdown-arrow-m;
            }

            &--up {
                transform: rotate(0deg);
            }

            &--down {
                transform: rotate(-180deg);
            }
        }

        &__txt {
            @include collapse-dropdown-txt-d;
            transition: margin-bottom 0.3s ease-in-out;

            @media screen and (max-width: $breakpoint) {
                @include collapse-dropdown-txt-m;
            }
        }
    }
}
