@import "../../main.scss";

.collapse {
    @include collapse-d;

    @media screen and (max-width: $breakpoint) {
        @include collapse-m;
    }

    &__open {
        animation: marginBottomOpen 0.3s ease-in-out;
    }

    &__closed {
        animation: marginBottomClosed 0.3s ease-in-out;
    }

    &__dropdown {
        @include collapse-dropdown-d;

        @media screen and (max-width: $breakpoint) {
            @include collapse-dropdown-m;
        }

        &__title {
            @include collapse-dropdown-title-d;

            @media screen and (max-width: $breakpoint) {
                @include collapse-dropdown-title-m;
            }
        }

        &__arrow {
            @include collapse-dropdown-arrow-d;
            transition: all 0.3s ease-in-out;

            @media screen and (max-width: $breakpoint) {
                @include collapse-dropdown-arrow-m;
            }

            &--up {
                transform: rotate(0deg);
            }

            &--down {
                transform: rotate(-180deg);
            }
        }

        &__txt {
            &--visible {
                @include collapse-dropdown-txt-d;
                animation: slideDown 0.3s ease-in-out;

                @media screen and (max-width: $breakpoint) {
                    @include collapse-dropdown-txt-m;
                }
            }

            &--hidden {
                @include collapse-dropdown-txt-d;
                animation: slideUp 0.3s ease-in-out;
                opacity: 0;

                @media screen and (max-width: $breakpoint) {
                    @include collapse-dropdown-txt-m;
                }
            }
        }
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes marginBottomOpen {
    0% {
        margin-bottom: 0px;
    }
    100% {
        margin-bottom: contentHeight;
    }
}

@keyframes marginBottomClosed {
    0% {
        margin-bottom: contentHeight;
    }
    100% {
        margin-bottom: 0px;
    }
}