@import "../../main.scss";

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-d {
        @include logo-d;

        @media screen and (max-width: $breakpoint) {
            @include logo-m;
        }
    }
}