/* Général */
@mixin logo-d() {
    width: 210.32px;
    height: 68px;
}

@mixin logo-m() {
    width: 145px;
    height: 46.88px;
}

@mixin typography-d() {
    font-weight: 500;
    font-size: 24px;
}

@mixin typography-m() {
    font-weight: 500;
    font-size: 12px;
}

@mixin dropdown-typography-d() {
    font-weight: 400;
    font-size: 18px;
}

@mixin dropdown-typography-m() {
    font-weight: 400;
    font-size: 12px;
}

/* Banner */
@mixin banner-img-d() {
    width: 100%;
    height: 223px;
    border-radius: 25px;
    object-fit: cover;
}

@mixin banner-img-and-overlay-m() {
    height: 111px;
    border-radius: 10px;
}

@mixin bannerAbout-img-and-overlay-m() {
    height: 223px;
    border-radius: 10px;
}

@mixin banner-img-overlay-d() {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 223px;
    border-radius: 25px;
    background-color: rgba(darken($color-tertiary, 30%), 0.3);
}

@mixin banner-txt-d {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    color: $color-primary;
    font-weight: 500;
    font-size: 48px;
}

@mixin banner-txt-m {
    font-size: 24px;
}

/* Gallery */
@mixin gallery-d {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
}

@mixin gallery-m {
    margin-top: 20px;
    margin-bottom: 27px;
    padding: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

/* Gallery__Card */
@mixin card-d {
    position: relative;
    width: 100%;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

@mixin card-m {
    height: 255px;
}

@mixin card-overlay {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@mixin card-title-d {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

/* Footer */
@mixin footer-d {
    position: relative;
    left: -100px;
    background-color: $color-tertiary;
    width: 100vw;
    height: 209px;
}

@mixin footer-logo {
    width: 122px;
    height: 39.44px;
    padding-top: 66px;
    display: flex;
    margin: auto;
}

/* About */
@mixin collapse-d {
    margin-top: 38px;
    margin-bottom: 38px;
    padding-left: 108.5px;
    padding-right: 108.5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@mixin collapse-m {
    margin-top: 19px;
    margin-bottom: 19px;
    padding-left: 0px;
    padding-right: 0px;
    gap: 20px;
}

@mixin collapse-dropdown-d {
    width: 100%;
    height: 52px;
    box-sizing: border-box;
    padding: 11.5px 24px 11.5px 15px;
    border-radius: 5px;
    background-color: $color-secondary;
}

@mixin collapse-dropdown-m {
    height: 30px;
    padding: 7px 12px 7px 10px;
}

@mixin collapse-dropdown-title-d {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include typography-d;
    color: $color-primary;
}

@mixin collapse-dropdown-title-m {
    font-size: 13px;
}

@mixin collapse-dropdown-arrow-d {
    cursor: pointer;
    width: 24px;
    height: 13.71px;
}

@mixin collapse-dropdown-arrow-m {
    width: 16px;
    height: 9.14px;
}

@mixin collapse-dropdown-txt-d {
    padding: 25px 20px 20px 20px;
    @include dropdown-typography-d;
    color: $color-secondary;
}

@mixin collapse-dropdown-txt-m {
    padding: 13px 20px 19px 20px;
    @include dropdown-typography-m;
}

/* PageNotFound */
@mixin pageNotFound-content-d {
    margin-top: 139px;
    margin-bottom: 139px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 139px;
    color: $color-secondary;
}

@mixin pageNotFound-content-m {
    margin-top: 113px;
    margin-bottom: 113px;
    gap: 113px;
}

/* Accomodation */

/* Accomodation__Carrousel */
@mixin carrousel-d {
    position: relative;
    width: 100%;
    height: 415px;
    margin-top: 50px;
}

@mixin carrousel-m {
    height: 255px;
    margin-top: 27px;
}

@mixin carrousel-img-d {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin carrousel-icon-d {
    position: absolute;
    width: 46.68px;
    height: 79.2px;
    top: 167.9px;
    opacity: 87%;
    cursor: pointer;
}

@mixin carrousel-icon-m {
    width: 11.67px;
    height: 19.8px;
    top: 117.6px;
}

@mixin carrousel-slideNumbering-d {
    color: $color-primary;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    width: 24px;
    height: 32.4px;
    left: 50%;
    right: 50%;
    bottom: 24.92px;
}