@import "../../main.scss";

.footer {
    position: relative;
    left: -100px;
    background-color: $color-tertiary;
    width: 100vw;
    height: 209px;

    @media screen and (max-width: $breakpoint) {
        left: -20px;
    }

    &__logo {
        width: 122px;
        height: 39.44px;
        padding-top: 66px;
        display: flex;
        margin: auto;
    }

    &__txt {
        @include typography-d;
        color: $color-primary;
        display: flex;
        justify-content: center;
        padding-top: 46px;

        @media screen and (max-width: $breakpoint) {
            @include typography-m;
            padding-top: 10px;
            width: 97px;
            margin: auto;
        }
    }
}