@import "../../main.scss";

.footer {
    @include footer-d;

    @media screen and (max-width: $breakpoint) {
        left: -20px;
    }

    &__logo {
        @include footer-logo;
    }

    &__txt {
        @include typography-d;
        color: $color-primary;
        display: flex;
        justify-content: center;
        padding-top: 46px;

        @media screen and (max-width: $breakpoint) {
            @include typography-m;
            padding-top: 10px;
            width: 97px;
            margin: auto;
        }
    }
}