@import "../../main.scss";

.pageNotFound__content {
    @include pageNotFound-content-d;

    @media screen and (max-width: $breakpoint) {
        @include pageNotFound-content-m;
    }

    &__title {
        font-weight: 700;
        font-size: 288px;

        @media screen and (max-width: $breakpoint) {
            font-size: 96px;
        }
    }

    &__txt {
        font-weight: 500;
        font-size: 36px;

        @media screen and (max-width: $breakpoint) {
            font-size: 18px;
        }
    }

    &__link {
        color: $color-secondary;
        font-weight: 500;
        font-size: 18px;

        @media screen and (max-width: $breakpoint) {
            font-size: 14px;
        }
    }
}