@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";

* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
  padding: 45px 100px 0px 100px;
  margin: 0 auto;
  @media screen and (max-width: $breakpoint) {
    padding: 20px 20px 0px 20px;
  }
}
