@import "../../main.scss";

.banner {
  position: relative;
  margin-top: 50px;

  @media screen and (max-width: $breakpoint) {
    margin-top: 27px;
  }

  &__img {
    @include banner-img-d;

    @media screen and (max-width: $breakpoint) {
      @include banner-img-and-overlay-m;
    }
  }

  &__overlay {
    @include banner-img-overlay-d;

    @media screen and (max-width: $breakpoint) {
      @include banner-img-and-overlay-m;
    }
  }

  &__txt {
    @include banner-txt-d;

    @media screen and (max-width: $breakpoint) {
      @include banner-txt-m;
    }

    @media screen and (max-width: 409px) {
      @include banner-txt-m;
      left: 35.5px;
    }
  }
}

.bannerAbout {
  position: relative;
  margin-top: 38px;

  @media screen and (max-width: $breakpoint) {
    margin-top: 20px;
  }

  &__img {
    @include banner-img-d;

    @media screen and (max-width: $breakpoint) {
      @include bannerAbout-img-and-overlay-m;
    }
  }

  &__overlay {
    @include banner-img-overlay-d;

    @media screen and (max-width: $breakpoint) {
      @include bannerAbout-img-and-overlay-m;
    }
  }
}